body{
    font-family: montserrat;
    background: #36393f;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);width: 400px;
}

.center h1{
    color: white;
    border-radius: 15px;
    background: #2f3136;
    width: 400px;
    text-align: center;
}

.link_element{
    background: #2f3136;
    width: 400px;
    text-align: center;
    border-radius: 15px;
}

.link_element a{
    text-decoration: none;
}

.link_element a:hover{
    text-decoration: underline;
}

@media (max-width: 800px) {
    
}