body{
    background-color: #36393f;
    font-family: montserrat;
}

a{
    text-decoration: none;
    color: #2691d9;
    font-size: large;
}

a:hover{
    text-decoration: underline;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2f3136;
    width: 400px;
    text-align: center;
    border-radius: 10px;
}

.center h1{
    color: white;
    border-bottom: 1px solid silver;
}